<!DOCTYPE html>
<html>
<head>
    <title>오픈소스 웹페이지</title>
    <style>
        /* 이미지를 가운데로 정렬하기 위한 스타일 */
        img {
            display: block; /* 이미지를 블록 요소로 설정하여 가로 중앙 정렬을 적용합니다. */
            margin: auto; /* 자동 마진을 사용하여 수평 중앙 정렬을 적용합니다. */
        }
    </style>
</head>
<body>
    <h1>Welcome to my webpage!</h1>
    <img src="{{ url_for('static', filename='image/main.png') }}", width="250" height="252"
    style=" display:block; margin-left: auto; margin-right: auto;">

</body>
</html>
